<div class="p-5 text-center bgtop ">
      <h1>ATN Store </h1>
      <p>Mua sắm online tiết kiệm hơn với ATN</p>
    </div>
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand logo" href="/index">
                <img width="70px" height="70px" border-radius="50%" src="/images/IMG_2622.JPG" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase " href="/cars">Cartoy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase " href="/gundams">Gundam</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <button class="dropbtn text-uppercase ">ADMIN</button>
                    <div class="dropdown-content">
                        <a href="/cars/list">Car List</a>
                        <a href="/gundams/list">Gundam List</a>
                    </div>
                </div>
                <form class="d-flex ml-auto" action="/search" method="post">
                    <input class="form-control" type="search" name="name" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        
    </nav>

    

<form action="/gundams/add" method="post" class="container col-md-10 ">
<h1 class="text-danger text-uppercase text-center">Add new gundam-toy</h1>
<div class="form-group mt-3">
    <label for="name" class="text-primary"> Name</label>
    <input class="form-control" type="text" name="name" id="" required>
</div>

<div class="form-group mt-3">
    <label for="date"  class="text-primary">Date of Manufacture</label>
    <input type="date" name="dom" id=""  required>
</div>

<div class="form-group mt-3">
<label for="brand" class="text-primary"> Brand</label>
    <input class="form-control" type="text" name="brand" id="" required min="1" max="50">
</div>

<div class="form-group mt-3">
<label for="image" class="text-primary">Image</label>
<input type="url" name="image" id="" required>
</div>

<div class="form-group mt-3">
<label for="price" class="text-primary">Price</label>
<input type="Number" name="price" id="" required>
</div>


<div class="form-group mt-3">
    <label for="name" class="text-primary"> Detail Product</label>
    <input class="form-control" type="text" name="detail" id="" required >
</div>

<div class="form-group mt-3 mb-3 text-center">
<input type="submit" value="Add" class="btn btn-primary">
<input type="reset" value="Clear" class="btn btn-success">
</div>
</form>